body {
  min-height: 100vh;
  background-image: url('https://img.freepik.com/vetores-gratis/padrao-de-grade-de-losango-dourado-sem-costura-em-fundo-preto_53876-97589.jpg?w=1480&t=st=1692629059~exp=1692629659~hmac=cb1a6784f9b8a483599a8b16024b00b0355272bf03466cbbcb5f137b23634742');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
